<%- include('./partials/header'); %>
<% if (typeof success_msg !== 'undefined' && success_msg.length > 0) { %>
    <div class="alert absolute bottom-[10%] right-[10%] min-w-[20vh] max-w-[40vh] min-h-[8vh] rounded-md bg-[#B3DBAE] px-3 items-center gap-2 py-3 cursor-pointer flex z-[9999999999999999999999999999999999999999999999999999]">
        <img class="w-[4vh] h-[4vh] object-cover object-center" src="/images/icons/icons8-success-48.png" alt="">
       <h6><%= success_msg %></h6>
    </div>
<% } %>

<% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
    <div class="alert absolute bottom-[10%] right-[10%] min-w-[20vh] max-w-[40vh] min-h-[8vh] rounded-md bg-red-200 px-3 items-center gap-2 py-3 cursor-pointer flex z-[9999999999999999999999999999999999999999999999999999]">
        <img class="w-[4vh] h-[4vh] object-cover object-center" src="/images/icons/icons8-close-window-48.png" alt="">
        <h6><%=error_msg%></h6>
    </div>
<% } %>
<nav id="navbar" style="font-family: headb;" class="w-full md:h-[10vw] lg:h-[7.5vw]  h-[25vw] px-3 flex items-center max-md:justify-end justify-between fixed z-[99999999999999999999999999999999999999999]  top-0  left-0">
    <div class="left-nav max-md:hidden bg-[#A6A095] w-[22%]  p-3 rounded-md">
        <!-- <svg width="286.65000000000003" height="37.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2419"></defs><g id="SvgjsG2420" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#575349"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2421" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#575349"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2422" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#575349"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg> -->
        <svg viewBox="0 0 272.2856 36" preserveAspectRatio="xMidYMid meet" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2693" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#332E24"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332E24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2695" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#332E24"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg>
        <!-- <svg width="286.65000000000003" height="47.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332e24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g></svg> -->
        
        <!-- <svg width="286.65000000000003" height="37.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2790"></defs><g id="SvgjsG2792" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#575349"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g></svg> -->
    </div>
    <div class="right-nav  max-sm:h-[50%] xl:h-[60%] max-md:border-[2px] max-md:border-[#332E24] md:h-[80%] xl:w-[13%] md:w-[20%] w-fit p-1 justify-between rounded-md flex items-center bg-[#F2EFE9]">
        <div id="menuline"class="md:ml-2 lg:ml-5 lg:w-[2vw] lg:h-[2vw] md:h-[3.5vw] h-[10vw] w-[10vw] md:w-[3.5vw] cursor-pointer" >
            <div class="line" id="l1"></div>
            <div class="line" id="l2"></div>
            <div class="line" id="l3"></div>
        </div>  
        <div class="booknow w-[60%] max-md:hidden  rounded-[5px] flex items-center justify-center h-full bg-[#D7D1C6]">
            <a class="text-center text-sm font-medium text-[#575349] md:text-md lg:text-lg" href="https://wa.me/919709347042" target="_blank">Book Now</a>
        </div>
    </div>
</nav>
<div style="border-radius: 0 7% 7% 0; font-family: headb;" class="menu-left  w-[0vw] h-full bg-[#F2EFE9] fixed left-[0%] top-0 overflow-hidden z-[999999999999]">
    
    <div class="menubottom h-[60%] pt-[2.5vw]">
        <div  class="elems border-[2px] border-[#D7D1C6] w-full overflow-hidden flex relative items-center px-[3vw] h-fit">
            <div  class=" relative w-full"> 
             <h2 class="relative group w-fit overflow-hidden">
                 <a id="textmenu" class="flex xl:text-[5vw] md:text-[8vw] max-md:text-[12vw] text-[#322D23]  translate-y-[110%] shrink-0 font-bold capitalize cursor-pointer " href="/">Home</a>
                 <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
             </h2>
            </div>
            <div class="menutop bg-[#F2EFE9] max-md:hidden">
                <div class="xl:w-[80%] md:w-[50%] w-[80%] bg-[#a6a095]   p-3 rounded-md">
                    <svg viewBox="0 0 272.2856 36" preserveAspectRatio="xMidYMid meet" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2693" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#332e24"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332e24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2695" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#332e24"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg>
                </div>
            </div>
         </div>
        <div  class="elems border-b-[2px] border-[#D7D1C6] w-full overflow-hidden flex relative items-center px-[3vw] h-fit">
           <div  class=" relative w-full"> 
            <h2 class="relative group w-fit overflow-hidden">
                <a id="textmenu" href="/about-us" class="flex xl:text-[5vw] md:text-[8vw] max-md:text-[12vw] text-[#322D23]  translate-y-[110%] shrink-0 font-bold capitalize cursor-pointer ">About&nbsp;us</a>
                <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
            </h2>
           </div>
        </div>
        <div class="elems menuexpand border-b-[2px] border-[#D7D1C6] text-[#322D23] w-full overflow-hidden flex items-start  px-[3vw] max-md:h-[18vw] xl:h-[25%] md:h-[11vw] h-[7vw]">
            <div  class=" relative flex flex-col items-start">
                 <a id="textmenu" class="xl:text-[5vw] md:text-[8vw] max-md:text-[12vw]   shrink-0 translate-y-[110%] font-bold capitalize cursor-pointer flex  "><span>services</span> <i class="ri-arrow-down-s-line  w-fit h-fit pt-2"></i></a>
                 <a href="/services/soil-testing-labs" class="xl:text-[1.4vw] flex items-center gap-2  md:text-[2vw] max-md:text-[3.5vw] cursor-pointer p-[.5px] ml-5">
                    <i class="ri-circle-fill md:text-sm text-sm"></i>
                    <div class="relative  group w-fit overflow-hidden">
                        <h2 >SOIL&nbsp;TESTING&nbsp;LABS</h2>
                        <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                    </div>
                </a>
                
                 <a href="/services/bio-diesel-outlets" class="xl:text-[1.4vw] flex items-center gap-2  md:text-[2vw] max-md:text-[3.5vw] cursdiv-pointer p-[.5px] ml-5">
                    <i class="ri-circle-fill md:text-sm text-sm"></i>
                    <div class="relative group w-fit overflow-hidden">
                        <h2>BIO-DIESEL&nbsp;OUTLETS</h2>
                        <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                    </div>
                </a>
                 <a href="/services/petrol-pumps" class="xl:text-[1.4vw]  flex items-center gap-2 md:text-[2vw] max-md:text-[3.5vw] cursor-pointer p-[.5px] ml-5">
                    <i class="ri-circle-fill md:text-sm text-sm"></i>
                    
                    <div class="relative group w-fit overflow-hidden">
                        <h2>PETROL&nbsp;PUMP</h2>
                        <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                    </div>
                </a>
                 <a href="/services/cng-stations" class="xl:text-[1.4vw]  flex items-center gap-2 md:text-[2vw] max-md:text-[3.5vw] cursor-pointer p-[.5px] ml-5">
                    <i class="ri-circle-fill md:text-sm text-sm"></i>
                    
                    <div class="relative group w-fit overflow-hidden">
                        <h2>CNG&nbsp;STATION</h2>
                        <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                    </div>
                </a>
            </div>
         </div>
         <div class="elems border-b-[2px] border-[#D7D1C6] w-full overflow-hidden flex items-center px-[3vw] h-fit">
            <div  class="relative">
                <h2 class="relative group w-fit overflow-hidden">
                    <a id="textmenu" href="/blogs" class="flex xl:text-[5vw] md:text-[8vw] text-[#322D23] max-md:text-[12vw]  translate-y-[110%]  shrink-0 font-bold capitalize cursor-pointer ">blogs</a>
                    <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                </h2>
            </div>
           
         </div>
         <div class="elems border-b-[2px] border-[#D7D1C6] w-full overflow-hidden flex items-center px-[3vw] h-fit">
            <div  class="relative"> 
                <h2 class="relative group w-fit overflow-hidden">
                    <a id="textmenu" class="flex xl:text-[5vw] text-[#322D23] md:text-[8vw] max-md:text-[12vw]  translate-y-[110%] shrink-0 font-bold capitalize cursor-pointer " href="https://wa.me/919709347042" target="_blank">book&nbsp;online</a>
                    <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                </h2>
            </div>
         </div>
       
    </div>
    <div class="menutop bg-[#F2EFE9] mt-5 ml-2 md:hidden">
        <div class="xl:w-[80%] md:w-[50%] w-[80%] bg-[#a6a095]   p-3 rounded-md">
            <svg viewBox="0 0 272.2856 36" preserveAspectRatio="xMidYMid meet" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2693" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#332e24"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332e24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2695" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#332e24"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg>
        </div>
    </div>

</div>
<div style="border-radius: 7% 0% 0% 7%;" class="menu-right max-md:hidden md:flex p-2 border-[2px] border-[#D7D1C6] shadow-xl  w-[0vw] h-[85%] bottom-0 bg-[#F2EFE9] fixed bottom-0 right-[-5%] overflow-hidden z-[9999999999999999]">
    <img class="w-full rounded-l-[6.5%] h-full object-cover object-center" src="/images/menuimage.avif" alt="">
</div>
<div id="main" class="relative bg-[#D7D1C6]">
<div id="page1"  class="w-full pt-[6vw] py-2 h-fit  xl:h-[200vh] bg-[#D7D1C6]">
    <h3 style="font-family: headb;" class="text-center max-md:text-[10vw] text-[7vw] font-extrabold uppercase leading-[6.75vw] text-[#332e24]">Empowering <br><span class="font-normal text-[6vw] max-md:text-[7vw]">Communities</span></h3>
    <div class="relative h-[89vh] w-full flex items-center justify-center  rounded-md bg-[#F2EFE9] mt-3 p-5">
       
        <div class="slideshow h-[80vh]  w-full rounded-lg">
            <div class="slide">
                <div class="slide__wrap w-full">
                    <div class="slide__img w-full h-full " style="background-image: url(/images/menuimage.avif);"></div>
                    <div style="background-color: rgba(0, 0, 0, 0.34);" class="slide__title-wrap text-[#D7D1C6] ">
                        <h3 class="slide__title text-[6vw] max-md:text-[13vw]">CNG Pumps</h3>
                        <h4 class="slide__subtitle text-[2.5vw] max-md:text-[5vw] max-md:mt-3">Expanding eco-friendly fuel solutions across rural India.</h4>
                    </div>
                </div>
            </div>
            <div class="slide ">
                <div class="slide__wrap w-full">
                    <div class="slide__img w-full h-full " style="background-image: url(/images/pexels-mehul-patel-829985-18697894.jpg);"></div>
                    <div style="background-color: rgba(0, 0, 0, 0.34);"  class="slide__title-wrap text-[#D7D1C6] ">
                        <h3 class="slide__title text-[6vw] max-md:text-[13vw]"> Soil Testing Lab</h3>
                        <h4 class="slide__subtitle text-[2.5vw] max-md:text-[5vw] max-md:mt-3">Enhancing agricultural productivity with advanced soil analysis</h4>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__wrap w-full">
                    <div class="slide__img w-full h-full " style="background-image: url(/images/biodiesel.avif);"></div>
                    <div style="background-color: rgba(0, 0, 0, 0.34);" class="slide__title-wrap text-[#D7D1C6]">
                        <h3 class="slide__title text-[6vw] max-md:text-[13vw]"> Bio-Diesel Pump</h3>
                        <h4 class="slide__subtitle text-[2.5vw] max-md:text-[5vw] max-md:mt-3">Promoting renewable energy for a greener tomorrow.</h4>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__wrap w-full">
                    <div class="slide__img w-full h-full " style="background-image: url(/images/menuimage2.avif);"></div>
                    <div style="background-color: rgba(0, 0, 0, 0.34);" class="slide__title-wrap text-[#D7D1C6]">
                        <h3 class="slide__title text-[6vw] max-md:text-[13vw]">Petrol Pump </h3>
                        <h4 class="slide__subtitle text-[2.5vw] max-md:text-[5vw] max-md:mt-3"> Ensuring fuel accessibility in underserved regions.</h4>
                    </div>
                </div>
            </div>
        </div><!-- /slideshow -->
        
      
    </div>
    <h5 style="font-family: headb;" class="text-[5vw] max-md:text-[9vw] max-md:leading-[9.5vw] leading-[5.6vw] text-[#F2EFE9] font-bold mt-[3vw] ml-[3vw]">Mechvistaas Services empowers communities with sustainable energy, agricultural solutions, and lubricants, fostering innovation, excellence, and environmental responsibility.</h5>
</div>
<div id="page2" class="w-full h-[100vh] overflow-hidden relative flex max-md:flex-col items-center bg-[#a6a095]">
<div id="overlay" class="w-full h-full bg-[#a6a095] absolute flex items-center justify-center z-[9999999999999] top-0 left-0">
    <h2 style="font-family: headb;" class="max-md:text-[15vw] max-md:leading-[15.5vw] text-[5.4vw] w-[80%] text-center leading-[5.9vw] font-bold text-[#F2EFE9]">Transforming Lives with Sustainable Solutions Across India</h2>
</div>
 <div id="left-section" class="w-[40%] max-md:w-full max-md:h-[50%] pl-1 py-1 max-md:pr-1 flex items-center justify-center h-full ">
  <div id="section-0" class="w-[100%] overflow-hidden h-[99%] bg-[#D7D1C6] rounded-[20px] relative">
    <div id="text-section" class="w-full flex items-center relative justify-center h-[40%]">
        <h2 class="absolute md:text-[4.5vw] xl:text-[3.7vw] max-md:text-[8.9vw] font-bold text-[#322D23] uppercase ">CNG Pumps</h2>
        <h2 class="absolute md:text-[4.5vw] xl:text-[3.7vw] max-md:text-[8.9vw] font-bold text-[#322D23] uppercase opacity-[0]">Soil Testing Labs</h2>
        <h2 class="absolute md:text-[4.5vw] xl:text-[3.7vw] max-md:text-[8.9vw] font-bold text-[#322D23] uppercase opacity-[0]">Bio-Diesel Pumps</h2>
        <h2 class="absolute md:text-[4.5vw] xl:text-[3.7vw] max-md:text-[8.9vw] font-bold text-[#322D23] uppercase opacity-[0]">Petrol Pumps</h2>
    </div>
    <hr class="w-[85%] mx-auto h-[1.9px] bg-[#322D23]">
    <div id="para-section" class="w-full h-[45%]  relative flex items-center justify-center ">
        <div id="text-div" class="w-[80%] h-[80%] bg-[#CBC6BC] flex items-center justify-center rounded-md">
            <p class="absolute text-center md:text-md md:text-[1.8vw] xl:text-xl max-md:text-sm text-[#322D23]  w-[60%]">Environmentally friendly fuel reducing emissions, cost-effective for transportation, strategically located for better accessibility and impact.</p>
            <p class="absolute text-center md:text-md md:text-[1.8vw] xl:text-xl max-md:text-sm text-[#322D23] opacity-0 w-[60%]">Comprehensive soil analysis services, aiding farmers in optimizing crop yields, reducing costs, and promoting sustainable agricultural practices.</p>
            <p class="absolute text-center md:text-md md:text-[1.8vw] xl:text-xl max-md:text-sm text-[#322D23] opacity-0 w-[60%]">Renewable energy source, reducing carbon footprint, offering cleaner alternatives to traditional fuels, supporting green energy initiatives nationwide.</p>
            <p class="absolute text-center md:text-md md:text-[1.8vw] xl:text-xl max-md:text-sm text-[#322D23] opacity-0 w-[60%]">Reliable fuel supply, ensuring accessibility in rural areas, high-quality petroleum products, and enhanced convenience for diverse communities.</p>
      
        </div>
    </div>
    <div id="explore" class="w-full h-[15%]  flex items-center justify-center">
        <a href="/about-us" style=" border: 1px solid black;" class="w-[80%] flex items-center justify-center rounded-[10px] h-[70%] bg-[#CBC6BC] uppercase md:text-[2vw] xl:text-[1vw] max-md:text-[3vw] text-[#322D23]">Learn more about MECHVISTAAS <i class="ri-arrow-right-line"></i></a>
    </div>

  </div>
 </div>
 <div id="right-section" class="w-[60%] max-md:w-full max-md:h-[50%]  p-1 h-full flex items-center justify-center relative ">
    <div id="section-1" class="w-[99%] overflow-hidden  h-[99%] bg-blue-600 rounded-[20px] relative">
        <div id="divs"  class="w-full h-full absolute overflow-hidden z-[9]">
            <img class="w-full h-full object-center object-cover" src="/images/menuimage.avif" alt="">
        </div>
        <div id="divs1" style="clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);" class="w-full h-full absolute overflow-hidden z-[99]">
            <img class="w-full h-full object-center object-cover" src="/images/login/soiltest2.avif" alt="">
        </div>
        <div id="divs2" style="clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);" class="w-full h-full absolute overflow-hidden z-[999]">
            <img class="w-full h-full object-center object-cover" src="/images/biodiesel.avif" alt="">
        </div>
        <div id="divs3" style="clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);" class="w-full h-full absolute overflow-hidden z-[9999]">
            <img class="w-full h-full object-center object-cover" src="/images/petrolpump2.avif" alt="">
        </div>
      
     
    </div>
 </div>
</div>
<div style="border-radius: 0 0 25px 25px;" id="page3" class="w-full  h-[100vh] bg-[#A6A095] ">
    <div class="section max-md:flex-col">
        <div class="cards">
            <div class="over" id="ov1">
                <div class="text">
                    <h1 style="text-shadow: 6px 8px 6px #000;" class="md:text-lg md:text-xl xl:text-[3vw]  text-sm shadow-lg">Pioneering a Sustainable Future</h1>
                    <h3 class="mt-3 md:text-md md:text-lg text-sm">
                        We promote renewable energy through <br>
                         bio-diesel and CNG, adopting eco-friendly <br>
                          practices to reduce emissions and <br>
                           support rural sustainability.</h3>
                    <button>
                        <i class="ri-arrow-right-line"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="over" id="ov2">
                <div class="text">
                    <h1 style="text-shadow: 6px 8px 6px #000;" class="md:text-lg md:text-xl xl:text-[3vw] text-sm shadow-lg">Impact and Community Stories</h1>
                    <h3 class="mt-3 md:text-md md:text-lg text-sm">With 15,000 tons of CO2 reduced annually <br>
                         and 50+ rural areas empowered, our <br>
                          solutions inspire transformative <br>
                           community success stories</h3>
                    <button>
                        <i class="ri-arrow-right-line"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
  
</div>
<div id="subpage3" class="w-full hidden  overflow-hidden  md:flex gap-5 flex-col justify-center items-center h-[100vh] bg-[#D7D1C6]">
    <div id="section" class="w-[40%] max-md:w-[60%] shrink-0 max-md:h-[50%] h-[55%] overflow-hidden rounded-[10px] bg-red-500">
        <img class="w-full h-full object-center object-cover" src="/images/login/seeds.avif" alt="">
    </div>
    <div id="section" class="w-[40%] max-md:w-[60%] shrink-0 max-md:h-[50%] h-[55%] overflow-hidden rounded-[10px] bg-red-500">
        <img class="w-full h-full object-center object-cover" src="/images/login/fertilize.avif" alt="">
    </div>
    <div id="section" class="w-[40%] max-md:w-[60%] shrink-0 max-md:h-[50%] h-[55%] overflow-hidden rounded-[10px] bg-red-500">
        <img class="w-full h-full object-center object-cover" src="/images/login/pexels-viktor-smith-593827-1393382.jpg" alt="">
    </div>
    <div id="section" class="w-[40%] max-md:w-[60%] shrink-0 max-md:h-[50%] h-[55%] overflow-hidden relative rounded-[10px] bg-red-500">
        <img class="w-full h-full object-center object-cover" src="/images/login/pexels-karolina-grabowska-4751990.jpg" alt="">
        <div id="overlay" class="xl:w-[28%] md:w-[40%] max-md:w-[80%] flex p-1 h-[33%] absolute rounded-[10px] bg-[#F2EFE9] right-[5%] bottom-[-100%]">
          <div class="wrpa bg-[#A6A095] w-fit h-full rounded-[5px] overflow-hidden flex items-center justify-center">
            <div class="left w-[45%] rounded-[5px] overflow-hidden h-full">
        <img class="w-full h-full object-center object-cover" src="/images/login/agric1.avif" alt="">
            </div>
            <div class="right w-[55%] h-full flex items-center justify-center px-2">
                <p class="text-center text-white max-md:text-[4vw] font-normal">We aim to revolutionize rural India with innovative, eco-friendly solutions, driving progress while preserving the environment for future generations</p>
            </div>
          </div>
        </div>
    </div>
    <div id="section" class="w-[40%] max-md:w-[60%] shrink-0 h-[55%] overflow-hidden rounded-[10px] bg-red-500">
        <img class="w-full h-full object-center object-cover" src="/images/pexels-mehul-patel-829985-18697894.jpg" alt="">
    </div>
</div>
<div id="page5" class="w-full h-[100vh] bg-[#D7D1C6] flex items-center flex-col justify-start pt-[7vw] overflow-hidden relative ">
    <h1 id="faq" class="text-[5vw] max-md:text-[13vw] max-md:mt-8 font-bold text-[#322D23] text-center">What We Offer</h1>
    <span class="text-[2vw] font-medium text-[#322D23] max-md:text-[8vw] max-md:text-center">"Comprehensive solutions: agricultural products, lubricants, and sustainable energy from Mechvistaas."</span>
    <div class="p w-full h-full absolute left-0 top-[70%] z-[9]" id="p1">
           <div id="text-sec" class="w-full h-[10vh] bg-[#A6A095] border-[1.2px] border-black  flex items-center justify-center">
            <h1 class="text-[2.5vw] max-md:text-[5vw] font-medium text-[#F2EFE9]">Agricultural Products</h1>
           </div>
           <div id="parent-sec" class=" flex justify-between w-full h-[90vh] max-md:flex-col">
                <div id="left-section" class="w-[50%] max-md:w-full max-md:h-[25%] h-full flex flex-col items-center p-[5vw] justify-start bg-[#F2EFE9]">
                    <p style="font-family: headm;" class="text-center md:text-[3.2vw] xl:text-[2.3vw] max-md:text-[2.9vw]  font-medium text-[#322D23]">Mechvistaas offers premium agricultural solutions, including seeds, fertilizers, pesticides, and equipment, tailored to optimize crop production and boost yields for farmers.</p>
                    <a href="https://wa.me/919709347042"  class="px-8 py-4 mt-4 hover:bg-[#322D23] max-md:text-[2.8vw] max-md:px-4 max-md:py-1 rounded-md text-xl text-[#F2EFE9] block mx-auto bg-[#a6a095]">Book now</a>
                </div>
                <div id="right-section" class="w-[50%] max-md:w-full max-md:h-[75%] h-full flex items-start py-4 justify-center bg-[#F2EFE9]">
                    <img class="w-[75%] h-[70%] rounded-md object-center object-cover" src="/images/login/fertilize.avif"
                    alt="">
                </div>
           </div>
    </div>
    <div class="p w-full h-full absolute left-0 top-[80%] z-[99]" id="p2">
        <div id="text-sec" class="w-full h-[10vh] bg-[#A6A095] border-[1.2px] border-black  flex items-center justify-center">
            <h1 class="text-[2.5vw] max-md:text-[5vw] font-medium text-[#F2EFE9]">Biodiesel Refinery</h1>
           </div>
           <div id="parent-sec" class=" flex justify-between w-full h-[90vh] max-md:flex-col">
            <div id="left-section" class="w-[50%] max-md:w-full max-md:h-[25%] h-full flex flex-col items-center p-[5vw] justify-start bg-[#F2EFE9]">
                <p style="font-family: headm;" class="text-center md:text-[3.2vw] xl:text-[2.3vw] max-md:text-[2.9vw]  font-medium text-[#322D23]">As leaders in sustainable energy, our biodiesel refinery produces eco-friendly fuel from renewable sources, reducing carbon emissions and combating climate change.</p>
                <a href="https://wa.me/919709347042"  class="px-8 py-4 mt-4 hover:bg-[#322D23] max-md:text-[2.8vw] max-md:px-4 max-md:py-1 rounded-md text-xl text-[#F2EFE9] block mx-auto bg-[#a6a095]">Book now</a>
            </div>
            <div id="right-section" class="w-[50%] max-md:w-full max-md:h-[75%] h-full flex items-start py-4 justify-center bg-[#F2EFE9]">
                <img class="w-[75%] h-[70%] rounded-md object-center object-cover" src="/images/login/refinery.jpg"
                alt="">
            </div>
        </div>
         
    </div>
    <div class="p w-full h-full absolute left-0 top-[90%] z-[999]" id="p3">
        <div id="text-sec" class="w-full h-[10vh] bg-[#A6A095] border-[1.2px] border-black  flex items-center justify-center">
            <h1 class="text-[2.5vw] max-md:text-[5vw] font-medium text-[#F2EFE9]">Lubricants</h1>
           </div>
           <div id="parent-sec" class=" flex justify-between w-full h-[90vh] max-md:flex-col">
            <div id="left-section" class="w-[50%] max-md:w-full max-md:h-[25%] h-full flex flex-col items-center p-[5vw] justify-start bg-[#F2EFE9]">
                <p style="font-family: headm;" class="text-center md:text-[3.2vw] xl:text-[2.3vw] max-md:text-[2.9vw]  font-medium text-[#322D23]">Our industry-grade lubricants ensure smooth machinery operations, enhanced efficiency, and prolonged equipment lifespan, meeting the rigorous demands of diverse sectors.</p>
                <a href="https://wa.me/919709347042"  class="px-8 py-4 mt-4 hover:bg-[#322D23] max-md:text-[2.8vw] max-md:px-4 max-md:py-1 rounded-md text-xl text-[#F2EFE9] block mx-auto bg-[#a6a095]">Book now</a>
            </div>
            <div id="right-section" class="w-[50%] max-md:w-full max-md:h-[75%] h-full flex items-start py-4 justify-center bg-[#F2EFE9]">
                <img class="w-[75%] h-[70%] rounded-md object-center object-cover" src="/images/lubs.jpg"
                alt="">
            </div>
        </div>
           
    </div>
</div>
<div id="page6" class="text-[#322D23] bg-[#D7D1C6]">
    <h1 class=" max-md:text-[8vw]">Our Team</h1>
    <div class="executive">
        <div class="exe-img">
            <img src="/images/menuimage2.avif" alt="">
        </div>
        <h1>Arpish Kumar Tiwari</h1>
        <h5 class="text-[#322D23]">CEO</h5>
    </div>
    <div class="executive">
        <div class="exe-img">
            <img src="/images/menuimage2.avif" alt="">
        </div>
        <h1>Shruti Mishra</h1>
        <h5 class="text-[#322D23]">COO</h5>
    </div>
    <div class="executive">
        <div class="exe-img">
            <img src="/images/menuimage2.avif" alt="">
        </div>
        <h1>Akash Singh</h1>
        <h5 class="text-[#322D23]">CFO</h5>
    </div>
    <div class="executive">
        <div class="exe-img">
            <img src="/images/menuimage2.avif" alt="">
        </div>
        <h1>Joe Petrzelka</h1>
        <h5 class="text-[#322D23]">VP</h5>
    </div>
    <div class="executive">
        <div class="exe-img">
            <img src="/images/menuimage2.avif" alt="">
        </div>
        <h1>Will Heltsley</h1>
        <h5 class="text-[#322D23]">VP</h5>
    </div>
</div>

<div id="page4" class="page4 p-1">
    <h1 style="font-family: headb;" class="text-[5vw] max-md:text-[8vw] text-[#322D23] text-center">Why Choose Mechvistaas</h1>
    <div class="cards mt-[2vw]">
        <div class="cards-left-img">
            <img src="/images/login/customersupp.avif" alt="">
        </div>
        <div class="information-feature">
            <div class="cards-text-feature">
                <h2 class="xl:text-[2vw] md:text-[3vw]">24/7 Customer Support</h2>
                <p  class=" md:text-[2vw]  xl:text-[1.3vw]">Get assistance anytime with our dedicated support team</p>
            </div>
            <div class="cards-number">
                <h4>01</h4>
                <i class="ri-arrow-right-line"></i>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="cards-left-img">
            <img src="/images/login/consult.avif" alt="">
        </div>
        <div class="information-feature">
            <div class="cards-text-feature">
                <h2 class="xl:text-[2vw] md:text-[3vw]">Personalized Consulting</h2>
                <p  class=" md:text-[2vw]  xl:text-[1.3vw]">Tailored solutions to meet your business needs.</p>
            </div>
            <div class="cards-number">
                <h4>02</h4>
                <i class="ri-arrow-right-line"></i>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="cards-left-img">
            <img src="/images/login/afford3.avif" alt="">
        </div>
        <div class="information-feature">
            <div class="cards-text-feature">
                <h2 class="xl:text-[2vw] md:text-[3vw]">Affordable Pricing Plans</h2>
                <p  class=" md:text-[2vw]  xl:text-[1.3vw]">Transparent and budget-friendly pricing for everyone</p>
            </div>
            <div class="cards-number">
                <h4>03</h4>
                <i class="ri-arrow-right-line"></i>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="cards-left-img">
            <img src="/images/login/fertilize.avif" alt="">
        </div>
        <div class="information-feature">
            <div class="cards-text-feature">
                <h2 class="xl:text-[2vw] md:text-[3vw]">Seamless User Experience</h2>
                <p  class=" md:text-[2vw]  xl:text-[1.3vw]">We ensure a smooth and hassle-free experience with our intuitive platform.</p>
            </div>
            <div class="cards-number">
                <h4>04</h4>
                <i class="ri-arrow-right-line"></i>
            </div>
        </div>
    </div>
    <div class="cards mb-[3vw]">
        <div class="cards-left-img">
            <img src="/images/login/guide.avif" alt="">
        </div>
        <div class="information-feature">
            <div class="cards-text-feature">
                <h2 class="xl:text-[2vw] md:text-[3vw]">Expert Guidance & Support</h2>
                <p  class=" md:text-[2vw]  xl:text-[1.3vw]">Our experienced professionals provide expert advice to help you make informed decisions.</p>
            </div>
            <div class="cards-number">
                <h4>05</h4>
                <i class="ri-arrow-right-line"></i>
            </div>
        </div>
    </div>
</div>
<div id="address" class="py-16 h-fit w-full relative">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div id="parent" class="w-full h-full bg-[#a6a095]  rounded-lg">
            <div id="info_card" class="text-center h-full w-full bg-[#F2EFE9] p-8 rounded-lg">
                <div class="mb-4 text-[#D7D1C6] text-4xl">
                  <i class="fas fa-map-marked"></i>
                </div>
                
                <h2 class="text-[#322D23] text-xl font-semibold mb-2">Address</h2>
                <p class="text-[#332e24] md:text-sm md:text-md text-center">A SQUARE MALL, OFFICE NO-11A, 3 RD FLOOR,SARFABAD ,SECTOR-73,GAUTAM BUDDHA NAGAR, NOIDA - 201307</p>
                <p class="text-[#332e24] md:text-sm md:text-md text-center">INDIA</p>
              </div>
        </div>
        <div id="parent" class="w-full h-full bg-[#a6a095]  rounded-lg">
            <div id="info_card" class="text-center h-full w-full bg-[#F2EFE9] p-8 rounded-lg">
              <div class="mb-4 text-[#D7D1C6] text-4xl">
                <i class="fas fa-envelope"></i>
              </div>
              <h2 class="text-[#322D23] text-xl font-semibold mb-2">E-mail & Contact</h2>
              <p class="text-[#332e24] md:text-sm md:text-md text-center">mechvistaasservices@gmail.com</p>
              <p class="text-[#332e24] md:text-sm md:text-md text-center">+91 8789070509</p>
              <p class="text-[#332e24] md:text-sm md:text-md text-center">+91 9709347042</p>
            </div>
        </div>
        <div id="parent" class="w-full h-full bg-[#a6a095]  rounded-lg">
            <div id="info_card" class="text-center h-full w-full bg-[#F2EFE9] p-8 rounded-lg">
              <div class="mb-4 text-[#D7D1C6] text-4xl">
                <i class="fas fa-clock"></i>
              </div>
              <h2 class="text-[#322D23] text-xl font-semibold mb-2">Opening Hours</h2>
              <p class="text-[#332e24] md:text-sm md:text-md text-center">Mon - Fri &nbsp;&nbsp;9:00 am - 7:00 pm</p>
              <p class="text-[#332e24] md:text-sm md:text-md text-center">Saturday &nbsp;&nbsp;9:00 am  3:00 pm</p>
              <p class="text-[#332e24] md:text-sm md:text-md text-center">Sunday &nbsp;&nbsp;Closed</p>
            </div>
        </div>
  
      </div>
  
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12">
        <div class="md:col-span-2 bg-[#F2EFE9] rounded-lg">
            <div class="bg-[#F2EFE9] p-8 shadow-lg rounded-lg">
                <h2 class="text-[#322D23] text-xl font-bold mb-6">Get in Touch</h2>
                <form id="contactForm" action="/contact-us" method="post" class="space-y-6">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <!-- First Name -->
                        <div>
                            <input type="text" placeholder="First Name" name="firstname" class="w-full p-3 border border-[#a6a095] text-[#332E24] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#D7D1C6]">
                            <% if (errors) { %>
                                <% let firstNameError = errors.find(error => error.param === "firstname"); %>
                                <% if (firstNameError) { %>
                                    <p class="mt-2 text-red-600">*<%= firstNameError.msg %>*</p>
                                <% } %>
                            <% } %>
                        </div>
            
                        <!-- Last Name -->
                        <div>
                            <input type="text" placeholder="Last Name" name="lastname" class="w-full p-3 border border-[#a6a095] text-[#332E24] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#D7D1C6]">
                            <% if (errors) { %>
                                <% let lastNameError = errors.find(error => error.param === "lastname"); %>
                                <% if (lastNameError) { %>
                                    <p class="mt-2 text-red-600">*<%= lastNameError.msg %>*</p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
            
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <!-- Phone Number (Only Show One Error at a Time) -->
                        <div>
                            <input class="w-full p-3 border border-[#a6a095] text-[#332E24] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#D7D1C6]" type="tel" id="phone" placeholder="Phone Number" name="phone" required pattern="\d{10}" />
                            <% if (errors) { %>
                                <% let phoneError = errors.find(error => error.param === "phone"); %>
                                <% if (phoneError) { %>
                                    <p class="mt-2 text-red-600">*<%= phoneError.msg %>*</p>
                                <% } %>
                            <% } %>
                        </div>
            
                        <!-- Email -->
                        <div>
                            <input type="email" placeholder="E-mail" name="email" class="w-full p-3 border border-[#a6a095] text-[#332E24] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#D7D1C6]">
                            <% if (errors) { %>
                                <% let emailError = errors.find(error => error.param === "email"); %>
                                <% if (emailError) { %>
                                    <p class="mt-2 text-red-600">*<%= emailError.msg %>*</p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
            
                    <!-- Message -->
                   <div>
                    <textarea placeholder="Write Your Message" name="message" class="w-full p-3 border border-[#a6a095] text-[#332E24] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#D7D1C6] h-28"></textarea>
                    <% if (errors) { %>
                        <% let messageError = errors.find(error => error.param === "message"); %>
                        <% if (messageError) { %>
                            <p class="mt-2 text-red-600">*<%= messageError.msg %>*</p>
                        <% } %>
                    <% } %>
                   </div>
            
                    <div class="text-center">
                        <input type="submit" value="Send Now" class="bg-[#D7D1C6] text-[#322D23] px-6 py-3 rounded-lg font-semibold cursor-pointer hover:bg-[#D7D1C6] transition duration-300">
                    </div>
                </form>
            </div>
            
        </div>
  
        <div>
          <div class="rounded-lg overflow-hidden relative shadow-lg">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.302217282372!2d77.36600367533396!3d28.590709075687666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cefbfb62ca48b%3A0xaebed7cc87fdcdac!2sMechvistaas%20Services%20Private%20Limited!5e0!3m2!1sen!2sin!4v1738043840921!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-[#F2EFE9] py-12">
    <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-10 items-start">
        
        <!-- Left Section: Logo & Contact Info -->
        <div class="flex flex-col space-y-5">
            <div class="left-nav  bg-[#A6A095] w-[22%]  p-3 rounded-md">
                <!-- <svg width="286.65000000000003" height="37.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2419"></defs><g id="SvgjsG2420" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#575349"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2421" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#575349"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2422" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#575349"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg> -->
                <svg viewBox="0 0 272.2856 36" preserveAspectRatio="xMidYMid meet" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2693" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#332E24"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332E24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2695" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#332E24"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg>
                <!-- <svg width="286.65000000000003" height="47.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332e24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g></svg> -->
                
                <!-- <svg width="286.65000000000003" height="37.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2790"></defs><g id="SvgjsG2792" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#575349"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g></svg> -->
            </div>
            <p class="text-[#322D23] text-lg font-semibold">Were here to help. Reach out to us anytime!</p>
            <ul class="space-y-2 text-[#a6a095] text-lg">
                <li style="font-family: headm;"> +91 9709347042, +91 9289326490</li>
                <li style="font-family: headm;"> <a href="mailto:mechvistaasservices@gmail.com" class="hover:underline">mechvistaasservices@gmail.com</a></li>
                <li style="font-family: headm;"> <a href="https://www.mechvistaasservices.com" class="hover:underline">mechvistaasservices.com</a></li>
            </ul>
        </div>

        <!-- Middle Section: Navigation & Social Media -->
        <div class="text-center">
            <h2 class="text-2xl font-bold text-[#322D23]">Follow Us</h2>
            <div class="flex justify-center space-x-8 text-[#a6a095] mt-4">
                <a href="#" class="hover:text-[#322D23] transition"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#" class="hover:text-[#322D23] transition"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#" class="hover:text-[#322D23] transition"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="#" class="hover:text-[#322D23] transition"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>

        <!-- Right Section: Address -->
        <div class="text-[#a6a095] space-y-4">
            <h2 class="text-2xl font-bold text-[#322D23]">Our Offices</h2>
            <p style="font-family: headm;" class="text-lg"><strong class="text-[#332e24]">Operational Office:</strong> 11A 3<sup>rd</sup> Floor, A Square Mall, Sector-73, Noida, UP 201301</p>
            <p style="font-family: headm;" class="text-lg"><strong class="text-[#332e24]">Registered Office:</strong> Ground Floor, Anand Nagar Namda Basti, Jamshedpur, Jharkhand 831003</p>
        </div>

    </div>

    <!-- Bottom Section -->
    <div class="border-t border-[#a6a095] mt-10 pt-6 text-center text-[#322D23] text-2xl font-extrabold">
        "THANK YOU"
    </div>
    <p style="font-family: headm;" class="text-[#a6a095] text-lg text-center mt-4 max-w-3xl mx-auto">
        Your satisfaction is our priority. Let us know if your experience was anything short of excellent. Have a great day!
    </p>
    <div class="text-center text-[#a6a095] text-lg mt-6">
         2025 MECHVISTAAS. All rights reserved.
    </div>
</footer>



</div>

<%- include('./partials/footer'); %>


